/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.fl-page {
    width: auto;
}

.fl-page .fl-content-full.container {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.container {
    width: 100%;
    max-width: 1250px;
}

.searchIcon {
    position: absolute;
    right: 10px;
    top: 25px;
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}

.button-wrapper-default a:last-child{
    display: none;
}

/* body .fl-page-content{
    padding-top: 100px;
} */

.bhf-ffixed-header-fixer{
    display: none!important;
}
.air-responsive a{
    width: 70px!important;
    height: 70px!important;
    font-size: 0px!important;
    padding: 0px;
    background-size: contain;
    background: url(images/Bitmap-14.png);
    background-size: cover;
    background-position: 0px -1px;
}


.fl-page-nav-right .fl-page-nav ul.navbar-nav>li {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.storename .direction a.fl-button{
    display: block;
    background: #7a7a7a;
    color: #fff;
    text-align: center;
    font-size: 12px;
    border: 0px;
    letter-spacing: 2px;
}
.storename .direction a.fl-button:hover{
    background: #efbc04;
}

.fl-node-5d4db255e2782 > .fl-row-content-wrap {
    background-image: linear-gradient(180deg, rgba(50,50,50,0.91) 1%, rgba(255, 255, 255, 1) 100%)!important;
    min-height: 100px;
}

@media(max-width:1024px){
    .fl-page-nav .navbar-nav li>a{
        padding:15px 5px;
    }
    .fl-page-header-wrap .fl-page-header-container .fl-page-header-row .col-md-4{
        width: 30%;
    }
    .fl-page-header-wrap .fl-page-header-container .fl-page-header-row .col-md-8{
        width: 70%;
    }
}

@media(max-width:992px){
    /* body .fl-page-content{
        padding-top: 120px;
    } */
    .air-responsive{
        display: block!important;
    }
    .responsive-button-wrapper-default a.text-right{
        display: none;
    }
    button#responsive-menu-button{
        top: 50px!important;
    }
    .fl-page-nav-right .fl-page-header-logo{
        padding-bottom: 0px;
    }
    .fl-page-header-wrap .fl-page-header-container .fl-page-header-row .col-md-4{
        width: 100%;
    }
}
@media(max-width:767px){
    body .fl-page-content{
        padding-top: 0px;
    }
    .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo{
        padding-bottom: 0px;
    }
    button#responsive-menu-button{
        top: 30px!important;
    }
}

@media (max-width:768px){
    .facet_filters{ position: static; width: auto; box-shadow: none;}
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: none;}
    .facetwp-per-page, .facetwp-pager{ text-align: right !important;}
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: left !important;}
 }
 @media (max-width:767px){
    .facet_filters {
        position: fixed;
        top: 0px;
        left: -5px;
        width: 80%;
        height: 100%;
        overflow: auto;
        background-color: white;
        z-index: 10;
        left: -1000px;
        -moz-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        -webkit-box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
        box-shadow: 5px 5px 5px 6px rgba(0,0,0,0.4);
    }
    .facet_filters .close_bar, .open_sidebar, .close_sidebar_button{ display: block;}
    .facetwp-per-page, .facetwp-pager{ float: none;}
    .facetwp-per-page, .facetwp-pager,
    #product-list-top-filters .fl-heading,
    .facetwp-counts{ text-align: center !important;}
 }

@media(max-width:667px){
    .fl-page-nav-toggle-button.fl-page-nav-toggle-visible-mobile.fl-page-nav-right .fl-page-header-row .fl-page-header-logo{
        padding-bottom: 20px;
    }
    body .fl-page-content{
        padding-top: 0px;
    }
    .fl-col-small{
        max-width: 90%;
    }
    .active-gallery-modal .product-box a.fl-button{
        margin: 0px auto!important;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding:0px!important;
    }
}